@import '../common/_variables'; 


.description {
  font-size: 1.5rem;
  font-family: 'Playpen Sans', cursive, sans-serif;
  color: #555;
  margin-bottom: 20px;
    p {
      margin-bottom: 8px; 

    &:last-child {
      margin-bottom: 0; 
    }
  }
}

.highlighted {
  background-color: $secondary; 
}
