@import "../common/variables";

.sleepContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: $white;
  border-radius: 20px;
  border : 1px solid $secondary;

  .sleepImageWrapper {
    flex-basis: 70%;
    box-sizing: border-box;
    padding: 1rem;
  }
  
  .sleepTextWrapper {
    flex-basis: 30%;
    box-sizing: border-box;
    padding: 1rem;
  }

  .sleepImage {
    max-width: 100%;
    object-fit: cover;
  }

  .sleepTitle {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: $primary;
    font-family: 'Playpen Sans', cursive, sans-serif;
  }

  .sleepDesc {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: $primary;
    font-family: 'Playpen Sans', cursive, sans-serif;
  }
}

@media (max-width: 768px) {
  .sleepContainer {
    .sleepImageWrapper,
    .sleepTextWrapper {
      flex-basis: 100%;
    }
  }
}
@media (min-width: 888px) {
  .sleepContainer {
    min-width: 800px;
  }
}