@import '../common/_variables'; 

.background {
  background-color: $white;
}
.mainContent {
  position: relative;
  background-color: $white;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%2392cca8' fill-opacity='1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  border-radius: 25px;
}
.blocCommunaute {
  background-color: $white;
  padding: 20px;
  margin: 20px;
  margin-bottom: 60px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  border : solid 1px $secondary ;

  h2 {
    color: $primary;
    font-family: 'Playpen Sans', cursive, sans-serif; 
    margin-bottom: 10px;
    font-size: 2em;
  }

  p {
    font-family: 'Playpen Sans', cursive, sans-serif;
    font-size: 1em;
  }
}

.titleMain {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Playpen Sans', cursive, sans-serif; 
  color: $primary;
}

@media (min-width: 768px) {
  .blocCommunaute {
    padding: 30px;
  }

  .titleMain {
    font-size: 1.75rem;
  }
}

.blocCommunauteV2 {
  background-color: white;
  padding: 20px;
  margin: 20px;
  margin-top : 150px ;
  border-color : $secondary ;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  border : solid 1px $secondary ;
}

@media (min-width: 1024px) {
  .blocCommunaute {
    padding: 40px;
    margin-top : 50px;
    margin-bottom: 100px;
  }
  .mainContent {
    padding-top: 5vh;
    display: flex;
    flex-direction: column; // empile les éléments verticalement
    align-items: center; 
    width: 50%;
    margin: 0 auto;
    min-height: 250vh; 
  }

  .titleMain {
    font-size: 2rem;
    font-family: 'Playpen Sans', cursive, sans-serif;
  }
}

